.newtechitem-container{
    display: flex;
    justify-content: row;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    width: 310px;
    border-bottom: 1px solid #ccc;
    &>div>span{
        margin-left: 20px;
        font-size: 1rem;
    }
    .MuiSvgIcon-root{
            color: rgb(255, 45, 45)
    }
}