.newtech-details{
    &-container{
        padding: 10px 0 0 10px;
        height: 30vh;
        width: 57.8vw;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    &-left{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        &-title{
            &>span{
                font-size: 1.5rem;
                font-weight: 600;
            }
            margin-bottom: 15px;
        }
        &-points{
            color: rgb(80, 80, 80);
        }
        &-description{
            color: rgb(80, 80, 80);
        }
        &-button{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            &>div{
                &>button{
                    margin-top: 40px;
                    border: none;
                    height: 30px;
                    width: 100px;
                    font-weight: 600;
                    color: white;
                    background-color: #494645;
                    border-radius: 6px;
                }
                &>img{
                    margin-right: 10px;
                }
            }
        }
    }
    &-right{
        &>img{
            height: 90%;
            margin: 8px 10px;
        }
    }
}